<div>
    <div class="bg-[#F6F6F4] py-20">
        <div class="max-w-[65%] flex m-auto justify-between items-center">
            <!-- Social Media Icons -->
            <div class="max-w-[30%] flex justify-center items-center space-x-4 mb-6">
                <img src="/images/linkedinicon.png" alt="Linkedin" class="w-5 h-5">
                <img src="/images/facebookicon.png" alt="Facebook" class="w-5 h-5">
                <img src="/images/xicon.png" alt="X" class="w-5 h-5">
                <img src="/images/youtubeicon.png" alt="Youtube" class="w-5 h-5">
                <img src="/images/instagramicon.png" alt="Instagram" class="w-5 h-5">
            </div>
            
            <!-- Links Section -->
            <div class="grid grid-cols-4 gap-12 text-left text-black text-[14px]">
                <div>
                    <h3 class="mb-2">FILMS</h3>
                    <ul>
                        <li><a href="#" class="underline">Features</a></li>
                        <li><a href="#" class="underline">Shorts</a></li>
                        <li><a href="#" class="underline">Series</a></li>
                        <li><a href="#" class="underline">SparkShorts</a></li>
                        <li><a href="#" class="underline">Documentaries</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-2">TECH</h3>
                    <ul>
                        <li><a href="#" class="underline">Tech at Pixar</a></li>
                        <li><a href="#" class="underline">RenderMan</a></li>
                        <li><a href="#" class="underline">Open USD</a></li>
                        <li><a href="#" class="underline">Software R&D</a></li>
                        <li><a href="#" class="underline">Libraries</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-2">CAREERS</h3>
                    <ul>
                        <li><a href="#" class="underline">Careers At Pixar</a></li>
                        <li><a href="#" class="underline">Internships</a></li>
                        <li><a href="#" class="underline">Life At Pixar</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-2">MORE</h3>
                    <ul>
                        <li><a href="#" class="underline">Leaders</a></li>
                        <li><a href="#" class="underline">Our Story</a></li>
                        <li><a href="#" class="underline">Events</a></li>
                        <li><a href="#" class="underline">Pixar In A Box</a></li>
                        <li><a href="#" class="underline">Supplier Diversity</a></li>
                        <li><a href="#" class="underline">FAQ’s</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col mt-6 mb-12 justify-center items-center">
        <div>
            <p class="text-xs">Do Not Sell or Share My Personal Information</p>
        </div>
        <div class="mt-2">
            <ul class="flex space-x-1 text-[10px]">
                <li><a href="#">Privacy Policy</a></li>
                <li>|</li>
                <li><a href="#">Your US State Privacy Rights</a></li>
                <li>|</li>
                <li><a href="#">Children’s Privacy Policy</a></li>
                <li>|</li>
                <li><a href="#">Interest Based Ads</a></li>
                <li>|</li>
            </ul>
        </div>
        <div class="mt-2">
            <p class="text-[10px]">© 1986-2025 Disney-Pixar</p>
        </div>
    </div>
</div>
