<div class="flex justify-between items-center py-[42px] px-[62px] z-30">
    <div>
        <img src="/images/logo.png" alt="Pixar" class="w-[161px]" />
    </div>
    <div>
        <ul class="flex items-center gap-12 text-sm uppercase">
            <li class="relative group">
                <a href="" class="uppercase">Films</a>
                <ul class="absolute right-0 top-full mt-0 w-48 bg-gray-800 text-white shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible pointer-events-none group-hover:pointer-events-auto z-40">
                    <li class="px-3 py-1 text-sm tracking-widest hover:underline cursor-pointer"><a href="#">Feature Films</a></li>
                    <li class="px-3 py-1 text-sm tracking-widest hover:underline cursor-pointer"><a href="#">Short Films</a></li>
                    <li class="px-3 py-1 text-sm tracking-widest hover:underline cursor-pointer"><a href="#">Series</a></li>
                    <li class="px-3 py-1 text-sm tracking-widest hover:underline cursor-pointer"><a href="#">SparkShorts</a></li>
                    <li class="px-3 py-1 text-sm tracking-widest hover:underline cursor-pointer"><a href="#">Documentaries</a></li>
                </ul>
            </li>

            <li class="relative group">
                <a href="" class="uppercase">Technology</a>
                <ul class="absolute right-0 top-full mt-0 w-64 bg-gray-800 text-white shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible pointer-events-none group-hover:pointer-events-auto z-40">
                    <li class="px-3 py-1 text-sm tracking-widest hover:underline cursor-pointer"><a href="#">Technology at Pixar</a></li>
                    <li class="px-3 py-1 text-sm tracking-widest hover:underline cursor-pointer"><a href="#">RenderMan</a></li>
                    <li class="px-3 py-1 text-sm tracking-widest hover:underline cursor-pointer"><a href="#">OpenUSD</a></li>
                    <li class="px-3 py-1 text-sm tracking-widest hover:underline cursor-pointer"><a href="#">Software R&D</a></li>
                    <li class="px-3 py-1 text-sm tracking-widest hover:underline cursor-pointer"><a href="#">Technology Libraries</a></li>
                </ul>
            </li>

            <li class="relative group">
                <a href="" class="uppercase">Careers</a>
                <ul class="absolute right-0 top-full mt-0 w-44 bg-gray-800 text-white shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible pointer-events-none group-hover:pointer-events-auto z-40">
                    <li class="px-3 py-1 text-sm tracking-widest hover:underline cursor-pointer"><a href="#">Careers</a></li>
                    <li class="px-3 py-1 text-sm tracking-widest hover:underline cursor-pointer"><a href="#">Internships</a></li>
                    <li class="px-3 py-1 text-sm tracking-widest hover:underline cursor-pointer"><a href="#">Life at Pixar</a></li>
                </ul>
            </li>

            <li class="relative group">
                <a href="" class="uppercase">More</a>
                <ul class="absolute right-0 top-full mt-0 w-56 bg-gray-800 text-white shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible pointer-events-none group-hover:pointer-events-auto z-40">
                    <li class="px-3 py-1 text-sm tracking-widest hover:underline cursor-pointer"><a href="#">Leaders</a></li>
                    <li class="px-3 py-1 text-sm tracking-widest hover:underline cursor-pointer"><a href="#">Our Story</a></li>
                    <li class="px-3 py-1 text-sm tracking-widest hover:underline cursor-pointer"><a href="#">Events</a></li>
                    <li class="px-3 py-1 text-sm tracking-widest hover:underline cursor-pointer"><a href="#">Pixar in a Box</a></li>
                    <li class="px-3 py-1 text-sm tracking-widest hover:underline cursor-pointer"><a href="#">Supplier Diversity</a></li>
                    <li class="px-3 py-1 text-sm tracking-widest hover:underline cursor-pointer"><a href="#">Company FAQ's</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>